
body{
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 19.440000534057617px;
}

div{
	display: block; 
	vertical-align: middle;
}

span{
	display: inline;
	font-size: 18px;
	font-weight: bold;
	height: auto;
	line-height: 27px;
	width: auto; 
}

h1{
	vertical-align: middle;
	text-align: center;
}

h2{
	padding-bottom: 3px;
	margin-bottom: 16px;
	border-bottom: 1px; 
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(221, 221, 221);
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
}

a{
	text-decoration: none solid rgb(51, 119, 170);
	width: auto;
	height: auto;
	font-size: 12px;
	color: rgb(51, 119, 170); 
}

li{
	display: inline-block;
	float: none;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 106px;
	height: 203px;
	font-size: 0px;
	list-style-position: outside;
	overflow-x: hidden;
	overflow-y: hidden;  
	text-align: left;
	vertical-align: top; 
}

.nav-wrapper{
	width: 1440px;
	height: 74px;
	background-color: rgb(233, 233, 226);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(200, 200, 200);
}

.nav-primary{ 
	width: 950px;
	height: 59px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-left: 245px;
	margin-right: 245px;
	position: relative;
}

.nav-logo{ 
	width: 145px;
	height: 56px;
	margin-right: 13px;
	line-height: 20px;
	color: rgb(97, 78, 60); 
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	display: block; 
	float: left;
	line-height: 50px;
}

.nav-search{    
	width: 792px;
	height: 37px;
	padding-top: 10px;
	padding-bottom: 15px;
	position: relative;
	display: block;
	float: left;
}

.inp{
	width: 548px;
	height: 37px;
	text-align: center;
	font-size: 12px;
	float: left; 
	background-image: url("http://img3.douban.com/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png"); 
	display: block;
}

#inp-query{ 
	width: 540px;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 0px;
	border-width: 0px; 
}

.inp-btn{  
	width: 37px;
	height: 30px;
	left: -1px;
	position: relative;
	float: left;
}

#inp-sub{
	border-width: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 35px;
	width: 37px;
	height: 30px;
	padding-top: 35px;
	margin-right: 3px;
	background-image: url("search.png"); 
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#slide-left{ 
	width: 425px;
	height: 2381px;
	margin: auto;
	float: left;
}

#content{
	width: 590px;
	height: 2381px;  
	margin: auto; 
	float: left;
}

.book-add-list{
	background-color: rgb(233, 233, 226);
	width: 350px;
	height: 400px;
	margin: auto;
	margin-top: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(200, 200, 200);
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
}

.book-add-header{
	background-color: rgb(230, 230 ,230);
	width: 350px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-size: 18px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(200, 200, 200); 
	color: rgb(97, 78, 60);
}

.book-add-content{
	background-color: rgb(233, 233, 250);
	width: 300px;
	height: 300px;
	margin-top: 10px; 
	margin-right: 25px;
	margin-left: 25px; 
	border-radius: 10px;
	border-width: 2px;
	border-color: rgb(170, 170, 170);
	border-style: solid; 
	color: rgb(97, 78, 60);
}

.book-attribute{ 
	width: 250px;
	height: 35px;
	margin-top: 10px;
	margin-left: 23px;
	margin-right: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(250, 250, 250);
}

.inp-name{ 
	width: 80px;
	height: 35px;
	float: left;  
	line-height: 35px;
	font-family: Arial; 
	font-size: 15px; 
}

.inp-content{ 
	width: 170px;
	height: 35px;
	float: left;
	border-radius: 5px; 
}

.book-input{
	width: 160px;
	height: 30px;
	border-radius: 5px; 
	font-size: 12px;
	border-width: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(100, 100, 100);
}

.book-btn{ 
	width: 250px;
	height: 40px;
	margin: auto;
	padding-top: 15px;

}

#btn-add-book{
	width: 100px;
	height: 100px;
	font-size: 25px;
	color: rgb(97, 78, 60); 
}

.book-express{
	margin-bottom: 50px;
	width: 590px;
	height: 483px; 
	float: left;

}

.hd{
	width: 590px;
	height: 31px;
	color: rgb(17, 17, 17); 
}

.link-more{
	font-size: 12px;
	line-height: 18px;
	padding-left: 10px;
	height: auto;
	width: auto;
	color: rgb(102, 102, 102);
}

.slide-controls{
	float: right;
	margin-top: -42px; 
	height: 19px;
	width: 128px;
}

.slide-dots{
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 6px;
	padding-left: 20px;
	height: 5px;
	width: 52px;
	line-height: 0px;
	list-style-position: outside;
	vertical-align: middle;  
	list-style-type: decimal;
	color: rgb(17, 17, 17);
	line-height: 0px;
	float: left;
	line-height: 15px; 
}

.dots{
	width: auto;
	height: auto;
	margin-right: 0px;
	margin-bottom: 0px;
	display: inline;
}

.slide-btns{
	width: 48px;
	height: 18px;
	margin-right: 0px;
	display: inline-block;
	line-height: 12px;
	vertical-align: middle;
	float: left; 
}

.active{
	margin-left: 8px;
	width: 5px;
	height: 5px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(155, 154, 143);
	background-origin: padding-box;
	background-size: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: rgb(51, 119, 170);
	cursor: pointer; 
	display: inline-block;
	font-size: 0px;
	line-height: 0px;
	list-style-position: outside;
	margin-left: 8px;
	text-align: left; 
}

.prev{
	margin-left: 4px;
	width: 18px;
	height: 18px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(155, 154, 142);
	background-origin: padding-box;
	background-size: auto;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;outline-color: rgb(255, 255, 255);
	outline-width: 0px;
	font-family: Arial;
	text-align: center; 
}

.next{
	margin-left: 4px;
	width: 18px;
	height: 18px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(155, 154, 142);
	background-origin: padding-box;
	letter-spacing: -1px;
	background-size: auto;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;outline-color: rgb(255, 255, 255);
	outline-width: 0px; 
	font-family: Arial;
	text-align: center;  
}

.bd{
	width: 590px;
	height: 436px; 
	padding-top: 16px;
}

.carousel{
	width: 590px;
	height: 436px; 
	overflow-x: 0px;
	overflow-y: 0px;
	position: relative;
}

.slide-list{
	height: 436px;
	width: 590px;
	line-height: 0px; 
}

.slide-item{ 
	padding-left: 0px;
	margin-right: -15px;
	display: inline-block;
	width: 605px;
	height: 436px;
	font-size: 0px;
	vertical-align: top;
	list-style-position: outside;
	line-height: 0px; 
}

.cover{
	margin-bottom: 7px;
	width: 106px;
	height: 158px; 
}

.info{
	padding-left: 2px;
	padding-right: 2px;
	width: 102px;
	height: 32px; 
}

.title{
	margin-bottom: 6px;
	width: 102px;
	height: 14px;
	line-height: 14.300000190734863px;
	vertical-align: middle;
}

.author{
	margin-bottom: 6px;
	padding-top: 4px;
	width: 102px;
	height: 12px;
	font-size: 12px;
	vertical-align: middle;
	text-align: left;
	line-height: 0px;
}
