<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	     http://java.sun.com/xml/ns/j2ee/web-app.xsd">

    <servlet>
        <servlet-name>MyHello</servlet-name>
        <servlet-class>com.thoughtworks.controller.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyHello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookShelf</servlet-name>
        <servlet-class>com.thoughtworks.controller.BookShelfServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookShelf</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowBook</servlet-name>
        <servlet-class>com.thoughtworks.controller.ShowBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowBook</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>